*.DS_Store
*.idea
*.iml
*.apk
*.ap_
*bin/
*.class
*.dex
*gen/
*local.properties

cpp_basic_examples/build

cpp_basic_examples/\.gradle

cpp_basic_examples/hello_area_description/\.externalNativeBuild

cpp_basic_examples/hello_area_description/build

cpp_basic_examples/hello_motion_tracking/build

cpp_basic_examples/hello_depth_perception/build

cpp_basic_examples/hello_depth_perception/\.externalNativeBuild

cpp_basic_examples/hello_motion_tracking/\.externalNativeBuild

cpp_basic_examples/hello_video/\.externalNativeBuild

cpp_basic_examples/hello_video/build

cpp_motion_tracking_example/\.gradle

cpp_motion_tracking_example/app/build

cpp_motion_tracking_example/build

cpp_motion_tracking_example/app/\.externalNativeBuild
